// Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// Icons
@import "./font-awesome/fontawesome.scss";
@import "./vendors/flag-icon.scss";
@import "./vendors/icofont.scss";
@import "./vendors/themify.scss";
@import "./vendors/animate.scss";
@import "../scss/vendors/whether-icon.scss";

// Style
@import "./style.scss";
@import "./responsive.scss";
